apiVersion: v1
clusters:
- cluster:
    server: https://{{ server }}
  name: {{ serverName }}
contexts:
- context:
    cluster: {{ serverName }}
    user: system:serviceaccount:{{ openshiftNamespace }}:default/{{ serverName }}
  name: /{{ serverName }}/system:serviceaccount:{{ openshiftNamespace }}:default
current-context: /{{ serverName }}/system:serviceaccount:{{ openshiftNamespace }}:default
kind: Config
preferences: {}
users:
- name: system:serviceaccount:{{ openshiftNamespace }}:default/{{ serverName }}
  user:
    token: {{ token.stdout }}